# Pesde
.pesde
luau_packages
lune_packages
roblox_packages
roblox_server_packages

# Build files
.output
.luaurc
*/assets/init.luau
**/generated/**
default.project.json
sourcemap.project.json
sourcemap.json

# OS
.DS_Store

# Environment variables
.env

# Rose
.rose
.rose/**

# Some developers have a local copy of Rose to develop it alongside
# Welcome To Hell
rose
rose/**