# Pesde
.pesde
roblox_packages/*
luau_packages
lune_packages
!roblox_packages/.config.luau

# Build files
.output
.luaurc
*/assets/init.luau
**/generated/**
default.project.json
sourcemap.project.json
sourcemap.json

# OS
.DS_Store

# Environment variables
.env

# Rose development environment
./rose
./rose/**
