.pesde
*.lock

out
sourcemap.json

roblox_packages
roblox_server_packages
luau_packages
lune_packages

.DS_Store
Thumbs.db

src/*/generated/**/*.luau
!src/shared/generated/types/roblox.luau

molly.md
